.notepad-post-meta {
    display: block;
    text-align: center; }
.day {
    display: block;
    font-size: 2.5em;
    font-weight: 800;
    color: #e51843;
    margin-top: 1rem;
    font-family: "Montserrat", sans-serif; }
.month-year {
    display: block;
    color: black;
    margin-top: 0.5rem;
    font-size: 0.75em;
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase; }
.DairyDate{
    float:left;
    width:12em;
}
.DairyList{
    margin-left:12em;
}


/* ==========================================================================
       Media Queries - Smaller than 900px
   ========================================================================== */

@media only screen and (max-width: 900px) {

    .notepad-post-meta {
        display: block;
        text-align: left;
    }
    .DairyDate{
        float:none;
        width:auto;
        padding-left: 0.5rem;
        border-left: 0.5rem solid #C0C0C0;
        margin-bottom: 0.5rem
    }
    .DairyList{
        margin-left: 0;
    }
    .day {
        padding: 0.5rem 0 0 0.5rem;
    }
    .month-year {
        padding-left: 0.5rem;
    }
}