.su-dropcap {
	float: left;
	display: block;
	width: 2em;
	height: 2em;
	margin: 0.2em 0.5em 0.2em 0;
	line-height: 2em;
	text-align: center;
	overflow: hidden;
	text-transform: uppercase;
}
.su-dropcap-style-default {
	color: #fff;
	background: rgb(69, 72, 77); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(69, 72, 77, 1) 0%, rgba(0, 0, 0, 1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(69, 72, 77, 1)), color-stop(100%, rgba(0, 0, 0, 1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(69, 72, 77, 1) 0%, rgba(0, 0, 0, 1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(69, 72, 77, 1) 0%, rgba(0, 0, 0, 1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(69, 72, 77, 1) 0%, rgba(0, 0, 0, 1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(69, 72, 77, 1) 0%, rgba(0, 0, 0, 1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#45484d', endColorstr='#000000', GradientType=0); /* IE6-9 */
	text-shadow: -1px -1px 0 #000;
	-moz-text-shadow: -1px -1px 0 #000;
	-webkit-text-shadow: -1px -1px 0 #000;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
}

.smallhl {
    position: relative;
    color: black;
    z-index: 1;
    margin: 0.75em 0px 0.25em 0px;
    clear: both;
}
.smallhl:before {
    content:'❖';
    color: #2E5C8A;
    font-size: 2em;
    vertical-align: top;
    line-height: 0.9em;
    margin-right: 1.25rem;
}
.smallhl:after {
    content:'';
    background-color: #333;
    height: 1px;
    display: block;
    position: absolute;
    top: 1.4em;
    left: 0;
    width: 100%;
    padding-right: 1.75em;
    -moz-box-shadow: 3px 3px 2px #000000;
    -webkit-box-shadow: 3px 3px 2px #000000;
    box-shadow: 3px 3px 2px #000000;
}

.vlable {
    box-sizing: content-box;
    color: white;
    width: 40px;
    height: 0px;
    text-align: right;
    line-height: 16px;
    vertical-align:middle;
    margin: 2.25em 0px 0px -40px;
    padding: 0px;
    position: relative;
    font-size: 12px;
    font-family: Impact, Charcoal, sans-serif;
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    transform: rotate(270deg);
    transform-origin: right top 0;
    -webkit-transform-origin: right top 0;
}
.vlable:before {
    content:'';
    z-index: -1;
    height: 0px;
    display: block;
    position: absolute;
    top: 0px;
    left: 0;
    width: 30px;
    border-top: 8px #000 solid;
    border-left: 8px transparent solid;
    border-right: 8px #000 solid;
    border-bottom: 8px #000 solid;
}
.vlable:after {
    content:'';
    display: block;
    position: absolute;
    top: 0px;
    left: 0;
    width: 48px;
    height: 16px;
    padding: 0px;
    border-right: 4px black double;
}
.vlableText {
    margin: -12px 1.5em 0.5em 20px;
    padding: 1.25em;
    font-family: "Source Sans Pro", "Lucida Console", Monaco, monospace;
    font-size: 0.8em;
    line-height: 2.5rem;
    border: 1px black solid;
    min-height: 60px;
}
.vlableText .command::before {
  content: '$ ';
}